/* p{
    color: blue;
    background-color:white;
    text-align:center;
}
.p{
    color:green;
    background-color:aqua;
}
#jk{
    font-size: 25px;
} 
div{
    height:200px ;
    width: 200px;
    background-color:cadetblue;
    padding: 20px;
    border: 1px solid black;
    margin:100px;
} 
div{
    height:200px;
    width: 200px;
    background-color: lawngreen;
    padding:30px;
    border: 2px solid black;
    margin: 200px; 
}
div{
    color: red;
    height: 100px;
    width: 800px;
    background-color: white;
    padding: 30px;
    border: 4px solid black;
    margin: 200px; 
}
div{
    color: black;
    height: 100px;
    width: 700px;
    background-color: yellow;
    padding: 40px;
    border:40px solid blue;
    margin: 200px; }
div{
    color: black;
    text-decoration: aqua;
    height: 150px;
    width: 500px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    margin: 2px;

} */







 /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 650px;
            margin: 40px auto;
            background-color: #fff;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card {
            display: inline-block;
            width: 180px;
            height: 260px;
            vertical-align: top;
            margin: 20px 20px 0 0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.07);
            text-align: center;
            font-size: 19px;
            padding-top: 60px;
        }
        .card.book {
            background: #fce34b;
            color: #444;
        }
        .card.headphones {
            background: #fa5ca8;
            color: #fff;
        }
        .card.watch {
            background: #bcf3f8;
            color: grey;
        }
        .price {
            display: block;
            font-size: 18px;
            margin-top: 22px;
        }   */



.container{
    display: flex;
    height: 200px;
    width: 300px;
    background-color: aqua;
    border: solid black;
    /* flex-direction: column; */
    flex-wrap: wrap;

}


.item{
    height: 100px;
    width: 100px;
    background-color: rgb(46, 28, 0);
    border: 1px solid black;
}