/* p{
    color: blue;
    background-color:white;
    text-align:center;
}
.p{
    color:green;
    background-color:aqua;
}
#jk{
    font-size: 25px;
} 
div{
    height:200px ;
    width: 200px;
    background-color:cadetblue;
    padding: 20px;
    border: 1px solid black;
    margin:100px;
} 
div{
    height:200px;
    width: 200px;
    background-color: lawngreen;
    padding:30px;
    border: 2px solid black;
    margin: 200px; 
}
div{
    color: red;
    height: 100px;
    width: 800px;
    background-color: white;
    padding: 30px;
    border: 4px solid black;
    margin: 200px; 
}
div{
    color: black;
    height: 100px;
    width: 700px;
    background-color: yellow;
    padding: 40px;
    border:40px solid blue;
    margin: 200px; }
div{
    color: black;
    text-decoration: aqua;
    height: 150px;
    width: 500px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    margin: 2px;

} */







 /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 650px;
            margin: 40px auto;
            background-color: #fff;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card {
            display: inline-block;
            width: 180px;
            height: 260px;
            vertical-align: top;
            margin: 20px 20px 0 0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.07);
            text-align: center;
            font-size: 19px;
            padding-top: 60px;
        }
        .card.book {
            background: #fce34b;
            color: #444;
        }
        .card.headphones {
            background: #fa5ca8;
            color: #fff;
        }
        .card.watch {
            background: #bcf3f8;
            color: grey;
        }
        .price {
            display: block;
            font-size: 18px;
            margin-top: 22px;
        }   */



.container{
    display: flex;
    height: 700px;
    width: 1200px;
    background-color: aqua;
    border: solid black;
    /* flex-direction: row; */
     flex-wrap: wrap; 
     justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 20;
  

}


.item{
    height: 200px;
    width: 200px;
    background-color: rgb(35, 139, 192);
    border: 1px solid black;
    flex-grow: 1;

}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}
.container {
    height: 500px;
    width: 1000px; 
    background-color: aqua;
    border: 3px;
    display: grid;
     grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,100px);
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    /* grid-template-rows: 1fr 1fr  1fr; */
     /* grid-template-areas: "header header header header"
      "main main . sidebar" 
       " footer footer footer footer"; */ 
       gap: 10px;
       justify-items:center;
       align-items: center;
       justify-content:center;
       align-content: center;
}

.item{
     height: 100px;
    width:100px ; 
    background-color: brown;
    border: 1px solid black;
    color: aliceblue;
    text-align: center;
    align-content: center;

}
/* 
.item1{
     grid-area: header;

}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
}
 */
